# TMDB API Key (obtener en https://www.themoviedb.org/settings/api)
TMDB_API_KEY=

# Base de datos (Vercel Postgres o local)
DATABASE_URL="postgresql://user:password@localhost:5432/wikifilms"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=